module requiredmod 1.0;

require {
	type devpts_t;
	type kernel_t;
	type device_t;
	type var_run_t;
	type udev_t;
	type hugetlbfs_t;
	type udev_tbl_t;
	type tmpfs_t;
	type init_t;
	type staff_sudo_t;
	type sysadm_t;
	type proc_psi_t;
	type var_run_t;
	type unlabeled_t;
	type local_login_t;
	type user_tty_device_t;
	type staff_t;
	type systemd_logind_t;
	type systemd_sessions_runtime_t;
	type staff_systemd_t;
	type sound_device_t;
	type systemd_networkd_t;
	type initrc_t;
	type systemd_networkd_runtime_t;
	type nsfs_t;
	class sock_file write;
	class unix_stream_socket { read write ioctl connectto };
	class capability2 block_suspend;
	class dir { write add_name search mounton read open };
	class filesystem associate;
	class chr_file { lock getattr };
	class fifo_file { write };
	class file { read open getattr };
	class fd { use };
}

allow devpts_t device_t:filesystem associate;
allow hugetlbfs_t device_t:filesystem associate;
allow kernel_t self:capability2 block_suspend;
allow tmpfs_t device_t:filesystem associate;
allow udev_t kernel_t:unix_stream_socket { read write ioctl };
allow udev_t udev_tbl_t:dir { write add_name };
allow udev_t var_run_t:sock_file write;
allow init_t proc_psi_t:dir search;
allow init_t unlabeled_t:dir mounton;
allow init_t var_run_t:sock_file write;
allow staff_sudo_t local_login_t:dir search;
allow staff_sudo_t user_tty_device_t:chr_file lock;
allow sysadm_t staff_t:fifo_file write;
allow init_t proc_psi_t:file read;
allow init_t systemd_logind_t:fd use;
allow staff_sudo_t local_login_t:file read;
allow systemd_logind_t proc_psi_t:dir search;
allow init_t proc_psi_t:file open;
allow init_t systemd_sessions_runtime_t:fifo_file write;
allow staff_sudo_t local_login_t:file open;
allow systemd_logind_t proc_psi_t:file read;
allow init_t proc_psi_t:file getattr;
allow staff_systemd_t proc_psi_t:dir search;
allow staff_systemd_t sound_device_t:chr_file getattr;
allow systemd_logind_t proc_psi_t:file open;
allow staff_systemd_t proc_psi_t:file { read open getattr };
allow systemd_networkd_t tmpfs_t:dir search;
allow udev_t tmpfs_t:dir search;
allow systemd_networkd_t tmpfs_t:dir search;
allow udev_t tmpfs_t:dir search;
allow initrc_t systemd_networkd_runtime_t:sock_file write;
allow systemd_networkd_t tmpfs_t:dir read;
allow udev_t tmpfs_t:dir read;
allow initrc_t systemd_networkd_t:unix_stream_socket connectto;
allow systemd_networkd_t tmpfs_t:dir open;
allow udev_t tmpfs_t:dir open;
allow initrc_t nsfs_t:file getattr;
